.add-post {
  text-align: center;
  h2 {
    color: #666;
    margin-bottom: 2rem;
  }

  li {
    margin-bottom: 1.5rem;
    @include relative;

    input, textarea {
      display: block;
      width: 100%;
      padding: 20px 15px;
      font-size: 15px;
      color: #666;
      line-height: 1.8rem;
      border: 1px solid #ddd;
      background: #00000008;
      border: none;
      border-bottom: 1px solid #6c6c6c38;

      &:focus {
        outline: none;
      }

      &:hover {
        box-shadow: 0 2px 2px 1px rgba(0,0,0,0.03);
      }
    }

    textarea {
      outline: none;
      
    }

    input {
      padding: 25px 15px 5px;
    }

    input::placeholder, textarea::placeholder {
      color: #999;
    }
  }
}

label.theme--1 {
  display: block;
  text-align: left;
  color: #999;
  margin-bottom: 1em;
  font-weight:300;
  border-left: 3px solid #999;
  padding-left: 10px;
}

.add-post {
    .btn {
      &-submit, &-back {
        @extend %btn--theme-2;
        padding: 10px 15px;
        margin-right: 1em;
      }

      &-submit:hover {
        background: #5eb9d3;
      }
    }
}

form li:not(.add-post__content) label {
  position: absolute;
  top: 13px;
  left: 13px;
  color: #909090;
  font-weight:300;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

form li.add-post__content{
  margin: 2rem 0;
}

form li input:valid + label, form li input:focus + label {
  color: #51A2DA;
  font-size: 14px;
  transform: translate3d(0, -5px, 0);
}

.box select {
  background: #f9f9f9;
  color: #03A9F4;
  padding: 5px 10px;
  appearance: button;
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #03A9F4;
}


form li.box {
  display: flex;
  align-items: center;

  label {
    position: initial;
    margin-right: 10px;
  }
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}