/* ------- color ------- */
/* ------- extends ------- */
* {
  margin: 0;
  padding: 0;
}

.nav__search button, .nav__search input {
  border: none;
}

.nav__search button:focus, .nav__search input:focus {
  outline: none;
}

.stream_item:hover .origin.hide {
  display: none;
}

.stream_item .stream_pic img, .stream_info .stream__avatar img, .stream_item {
  transition: all .4s;
}

.stream_info .stream__avatar {
  border-radius: 50%;
  overflow: hidden;
}

.stream_item .stream_pic, .stream_info .stream__avatar {
  overflow: hidden;
}

.stream_item .stream_pic img, .stream_info .stream__avatar img {
  max-width: 100%;
  height: auto;
}

/* ------- mixins ------- */
/* media query */
/* size */
/* position */
/* flex */
/* box-shadow */
/* box-shadow */
/* ------- layout ------- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;
  padding: 50px 0;
  background: #000 url(./../bg.jpg) top center repeat fixed;
  background-size: auto 100%;
}

.summary {
  margin: 50px auto;
  color: white;
  text-align: center;
  letter-spacing: 0.05em;
}

.summary h1 {
  font-size: 50px;
  text-shadow: 2px 5px 0 rgba(0, 0, 0, 0.8), 0 0 30px #d01552;
  margin-bottom: 30px;
  font-family: 'Playfair Display SC', serif;
}

.summary p {
  font-size: 16px;
  text-shadow: 0 0 5px black;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: initial;
      flex-flow: initial;
  box-shadow: 0 0 10px 1px #000001;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background: rgba(243, 139, 173, 0.95);
  color: white;
  z-index: 1;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  cursor: pointer;
  display: inline-block;
}

.nav ul li:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid #666;
  padding-right: 10px;
}

.nav ul li:hover {
  color: #1a1a1a;
}

.nav__search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: initial;
      justify-content: initial;
  -ms-flex-align: initial;
      align-items: initial;
  -ms-flex-flow: initial;
      flex-flow: initial;
  position: relative;
}

.nav__search button {
  width: 28px;
  height: 28px;
  background: url(./../icon_search.png) center center;
  background-size: 100%;
  cursor: pointer;
}

.nav__search button:hover {
  background-size: 110%;
}

.nav__search input {
  width: 200px;
  height: 28px;
  background: rgba(255, 255, 255, 0.5);
  color: #666;
  padding-left: 10px;
  margin-right: 10px;
  letter-spacing: 0.05em;
}

.nav__search input:hover, .nav__search input:focus {
  outline: 1px solid white;
}

.nav__search .prompt {
  position: absolute;
  top: 29px;
  left: 0;
  width: 200px;
}

.nav__search .prompt span {
  display: block;
  background: rgba(255, 255, 255, 0.9);
  color: #666;
  padding: 4px 10px;
  cursor: pointer;
}

.nav__search .prompt span:hover {
  background: #a11140;
  color: white;
}

.stream {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: initial;
      align-items: initial;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.stream_item {
  box-shadow: 0 0 10px 1px black;
  width: 24%;
  margin-bottom: 15px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  border: 3px solid black;
}

.stream_item:hover {
  border: 3px solid #dca3f9;
}

.stream_item:hover .stream_pic img {
  -ms-transform: scale(1.2);
      transform: scale(1.2);
}

.stream_item:hover .stream__title {
  color: #dca3f9;
}

.stream_info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: initial;
      justify-content: initial;
  -ms-flex-align: initial;
      align-items: initial;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  padding: 15px 10px;
}

.stream_info .stream__avatar {
  width: 40px;
  height: 40px;
  -ms-flex: none;
      flex: none;
  margin-right: 10px;
}

.stream_info .group {
  width: calc(100% - 50px);
}

.stream_info .group > * {
  color: white;
}

.stream_info .group .stream__title {
  width: 100%;
  height: 20px;
  margin: 0 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* ------- RWD ------- */
/* 1024px */
@media screen and (max-width: 1024px) {
  body {
    padding-top: 80px;
  }
  .nav {
    height: auto;
    padding: 10px;
    -ms-flex-flow: column;
        flex-flow: column;
  }
  .nav ul {
    margin-bottom: 10px;
  }
  .nav ul li {
    font-size: 13px;
  }
  .stream {
    padding: 0 40px;
  }
  .stream .stream_item {
    width: 32%;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  .stream .stream_item {
    width: 48%;
  }
}

/* 480px */
@media screen and (max-width: 480px) {
  body {
    background-size: 300% auto;
  }
  h1.title {
    font-size: 35px;
  }
  .stream .stream_item {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
