.main-logo {
  @include relative;
  display: inline-block;
  padding:0 40px;
  text-align: center;
  color: #999;
  font-size: 34px;
  font-family: 'Suranna', 'Open Sans', serif;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;

  span {
    display: block;
    color: $main-color;
    font-size: 40px;
  }

  &::before, &::after {
    @include pseudo($content: '{');
    @include absolute($left: 0, $top: 17px);
    font-size: 50px;
    color: #fff;
  }

  &::after {
    @include pseudo($content: '}');
    @include absolute($left: auto, $right: 0);
  }

}
