%btn {
  cursor: pointer;
  display: inline-block;
}

%btn--theme-1 {
  @extend %btn;
  @include relative;
  padding: 10px 15px;
  color: #999;
  letter-spacing: 0.1em;
  font-family: 'Open Sans', serif;
  overflow: hidden;
  z-index:10;
  border: none;

  &::before {
    @include pseudo;
    @include absolute($left: -100%, $bottom: 20%);
    @include size(100%, 10px);
    z-index: -1;
    background-color: rgba($main-color, 0.7);
    transition: left 1s cubic-bezier(0.1, 0.86, 0.2, 1.23);
  }

  &:hover::before, &.active::before{
    left: 50%;
  }
}

%btn--theme-2 {
  @extend %btn;
  @extend %transition;
  padding: 3px 5px;
  color: #999;
  letter-spacing: 0.1em;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5;

  &:hover {
    background: #999;
    color: #fff;
  }
}


