.post-list {
  border-left: 1px solid #5a9db24a;
  padding-left: 50px;
  margin-left: 15px;
  margin-bottom: 4rem;
}

.post-list__title {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 24px;
  margin-left: 2rem;
  border-bottom: 5px solid $main-color;
  display: inline-block;
  padding-bottom: 5px;

  &::before {
    @include pseudo($content: '#');
    color: $main-color;
    font-size: 30px;
    margin-right: 10px;
  }
}

.post-list .post {
  @include relative;
  display: block;
  padding: 2rem 0;

  &:nth-of-type(1) {
    padding-top: 0;
    margin-top: 2rem;

    .post__date {
      top: -10px;
    }
  }

  &__title {
    @extend %transition;
    display: block;
    color: #666;
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__description {
    @extend %transition;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    line-height: 1.6rem;
    height: 50px;
    letter-spacing: 0.05rem;
  }

  &__date {
    @include absolute($left: -77px, $top: 18px);
    color: #5a9db2;
    font-size: 14px;
    background: white;
    padding: 5px;
    padding: 10px 5px;
    white-space: pre-line;
    text-align: center;
    letter-spacing: 0.05rem;
    span {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }
  }

  &__status {
    padding: 2em 0;
    color: #999;
  }

  &:hover {
    .post__title {
      color: #5a9db2;
    }
  }
}

/* ----- RWD ---- */
@include mq('tablet-s') {
  .post-list {
    padding: 10px;
    margin: 0;
    border: none;

    .post {
      padding: 1rem 0;
      border-bottom: 1px solid #eee;
      
      &__date {
        position: initial;
        text-align: left;

        span {
          display: inline-block;
          margin-right: 10px;
        }
      }

      &__description {
        height: 50px;
      }
    }
  }
}