* {
  box-sizing: border-box;
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}
a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* block: header */
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 65px;
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
  z-index:2;
}
.header__logo-main {
  display: inline-block;
  width: 45px; 
  height: 45px;
}
.header__inner {
  display: flex;
  flex-basis: 1080px;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
}

/* block: header-nav */
.header-nav {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}
.header-nav .item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.header-nav .item svg{
  width: 25px;
  height: 25px;
  fill: #999;
}
.header-nav .item:hover svg {
  fill: #333;
}
.item.header-nav__search {
}
.item.header-nav__bookmark {

}
.item.header-nav__notification {

}
.item.header-nav__profile-pic {
  width: 35px;
  height: 35px;
  background: url(https://cdn-images-1.medium.com/fit/c/64/64/0*5uld1ZoRheaZ4GYJ.) no-repeat;
  background-size: 100%;
  border-radius: 50%;
  position: relative;
}
.item.header-nav__profile-pic::before{
  content: "";
  width: 110%;
  height: 110%; 
  border: 1px solid green;
  position: absolute;
  border-radius: 50%;
  transition: all .3s;
  opacity: 0;
}
.item.header-nav__profile-pic:hover::before{
  opacity: 1;
}

.gallery {
  margin-bottom: 50px;
  z-index:1;
  box-shadow: 0 0 20px 70px #fff;
}

.gallery__pic {

}
.gallery__pic img {
  width: 100%;
  height: auto;
}