/* block: side-nav */
.side-nav {
  width: 120px;
  height: 200px;
  position: fixed;
  left: 90px;
  top: 160px;
}
.side-nav__bottom {
  list-style: none;
  padding-left: 0;
}
.side-nav__bottom .item {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  transition: all .3s;
  cursor: pointer;
}
.side-nav__bottom svg {
  fill: #666;
}
.side-nav__bottom .item:hover svg{
  fill: #000;
}

.side-nav__clap {
  position: relative;
}
.side-nav__clap svg {
  fill: #03a87c;
}
.side-nav__clap em {
  position: absolute;
  right: -25px;
  top: 8px;
  color: #999;
  font-style: normal;
  font-size: 12px;
}
.side-nav__bookmark {

}
.side-nav__share-twitter {

}
.side-nav__share-fb {
}

/* 作者介紹 */
.side-nav__top {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.side-nav__author-name {
  color: #000;
  font-size: 18px;
}
.side-nav__summary {
  color:#999;
  font-size: 13px;
  letter-spacing: .2;
  line-height: 1.5em;
  margin: 0.3em 0 1em;
}
.side-nav__follow {

}
a.btn--follow {

}
