* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans TC', Arial, Helvetica, sans-serif;
  padding:50px 0;
  background: #000 url(bg.jpg) top center repeat fixed;
  background-size: auto 100%;
}
.summary {
  margin: 50px auto;
  color: #fff;
  text-align: center;
  letter-spacing: 0.05em;
}
.summary h1 {
  font-size: 50px;
  text-shadow: 2px 5px 0 rgba(0,0,0,0.8), 0 0 30px rgb(255, 79, 79);
  margin-bottom: 30px;
  font-family: 'Playfair Display SC', serif;
}
.summary p {
  font-size:16px;
  text-shadow: 0 0 5px rgb(0, 0, 0, 1);
}
.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  background: rgba(243, 139, 173, 0.95);
  color: #fff;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px 1px rgb(0,0,0);
}
.nav ul {
  list-style: none;
  margin: 0;
}
.nav ul li {
  cursor: pointer;
  display: inline-block;
}
.nav ul li:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid #666;
  padding-right: 10px;
}
.nav ul li:hover {
  color: #333;
}

.nav__search {
  display: flex;
  position: relative;
} 
.nav__search input{
  border:none;
  width: 200px;
  height: 28px;
  background: rgba(255,255,255,0.5);
  padding-left: 10px;
  color: #666;
  margin-right: 10px;
  letter-spacing: 0.05em;
} 
.nav__search input:hover,
.nav__search input:focus {
  outline:1px solid #fff;
}
.nav__search button {
  background: url(icon_search.png) center center;
  background-size: 100%;
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
}
.nav__search button:hover {
  background-size: 110%;
}
.nav__search button:focus {
  outline: none;
}

.nav__search .prompt {
  position: absolute;
  top: 29px;
  left: 0;
  width: 200px;
}

.nav__search .prompt span {
  display: block;
  background: rgba(255,255,255,0.9);
  color: #666;
  padding: 4px 10px;
  cursor: pointer;
}
.nav__search .prompt span:hover {
  background: rgba(150, 69, 97, 0.82);
  color: #fff;
}

.stream {
  margin:0 auto;
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  flex-flow: wrap;
}
.stream_item {
  width: 24%;
  border:1px solid #333;
  background: rgba(0,0,0,0.75);
  margin-bottom: 15px;
  text-decoration: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  border-radius: 5px;
  border: 3px solid #000;
  transition: all 0.3s;
}
.stream_item:hover {
  border: 3px solid #dca3f9;
}
.stream_item:hover .stream_pic img {
  transform: scale(1.2);
}
.stream_item:hover .stream__title {
  color:#dca3f9;
}
.origin.hide {
  display: none;
}
.stream_pic {
  overflow: hidden;
}
.stream_pic img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s;
}
.stream_info {
  display: flex;
  padding: 15px 10px;
  flex-wrap: nowrap;
}
.stream_info .group {
  width: calc(100% - 50px);
}
.stream__avatar {
  flex: none;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.stream__avatar img {
  max-width: 100%;
  height: auto;
}
.stream__title {
  width: 100%;
  height:20px;
  margin: 0 0 5px 0;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.stream__name {
  margin: 0;
  color: #fff;
}

/* 1024px */
@media screen and (max-width: 1024px){
  body {
    padding-top: 80px;
  }
  .nav {
    height: auto;
    padding: 10px;
    flex-flow: column;
  }
  .nav ul {
    margin-bottom: 10px;
  }
  .nav li {
    font-size: 13px;
  }
  .stream {
    padding: 0 40px;
  }
  .stream_item {
    width: 32%;
  }
}
/* 768px */
@media screen and (max-width: 768px){
  .stream_item {
    width: 48%;
  }
}
/* 480px */
@media screen and (max-width: 480px){
  body {
    background-size: 300% auto;
  }
  h1.title {
    font-size: 35px;
  }
  .stream_item {
    width: 100%;
  }
}