.cotainer {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.post {
  border-bottom: 1px solid #fff;
  padding-top: 1em;

  &-title {
    cursor: pointer;
    display: block;
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &-description {
    padding-left: 1em;
    color: #999;
  }
}


nav.navbar {
  position: sticky;
  left: 0;
  top:0;
}